<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
       <link rel="stylesheet" href="/stylesheets/landing.css">
       <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
        <div class="ui container" id="message">
            <% if(error && error.length >0) {  %>
          <div class="ui  negative message">
            <p><%= error %></p>
        
          </div>
          <% }else if(success && success.length >0) { %>
            <div class="ui success message">
          <p> <%= success %> </p>
            </div>
            <% } %>
        </div>
        
        <h1 id="landing_header">Let's make camping Fun!</h1>
       <a href="/campgrounds" id="landing_button"><button class="ui green button">View Campgrounds</button></a> 
       <ul id="slideshow">
           <li></li>
           <li></li>
           <li></li>
           <li></li>
           <li></li>

       </ul>
    </body>
</html>