nav.navbar
{
    background-color:rgb(102, 153, 153);
    color: black;
}
a.navbar-brand,a.nav-link
{
    color: black;
}
button.navbar-toggler {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
img{
    height: 220px;
    width: 100%;
}
.caption
{
    text-align: center;
}
input.form-control
{
    width: 30%;
}
form p
{
    color: blue;
}
#don
{
    justify-content: center;
    padding-left: 25%;
}
img#show 
{
    height:500px;
    
}
div#show.ui.segment
{
    padding:0;
}
h2.ui.left.aligned.header,p.description
{
    padding: 5px;
}
button.ui.green.button
{
    margin-left:5px ;
    margin-bottom: 5px;
}
h2.ui.left.aligned.header
{
    color: blue;
}
form#delete-form
{
    display: inline;
}
input
{
    
    border: 1px solid grey;
    margin-bottom: 20px;

}
.ui.raised.very.padded.text.container.segment
{
    width: 30%;
    margin-top: 70px;
    
}

div.ui.center.aligned.container
{
    padding-top: 30px;
}
#message
{
    margin-top: 20px;
}
/* Google Maps */
#mapid {
    height: 400px;
    width: 100%;
}
#fuzzy
{
    margin-top: 10px;
}
